body,h1,h2,h3,ul,li{
    margin:5;
    padding:5;
}
h1{
    color:rgb(150,99,57);
}
body{
    background-color: rgb(140,143,200);
}
body{
    font-family: 'courier new',Courier,monoscope;
}
